page-create-customers {
    .content { background-color: #807F7F; }
    section {
        background-color: #FFFFFF;
        margin: 5px 0;
        padding: 15px 2px 0;
    }
    form{
        height: 564px !important;
    }
}
